.config/BraveSoftware
.config/dconf
.config/gtk-3.0
.config/htop
.config/procps
.config/pulse
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yay
.config/neofetch
.config/nvim/lazy-lock.json

.config/Postman
.config/LogSeq
.config/Logseq
.config/balenaEtcher
.config/composer
.config/gh
.config/QtProject.conf
.config/kritadisplayrc
.config/kritarc

.config/discord
.config/go
.config/karboncalligraphyrc
.config/mimeapps.list
.config/pavucontrol.ini

.config/i3/polybar_toggle.sh
.config/Google
.config/SuperCollider
.config/aseprite
.config/depot_tools
.config/rclone
.config/sonic-pi.net
