.config/BraveSoftware
.config/dconf
.config/gtk-3.0
.config/htop
.config/procps
.config/pulse
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yay
.config/neofetch

.config/Postman
.config/balenaEtcher
.config/composer

